@model NERA_WEB_APP.Models.CS_Post_Info
@{
    ViewBag.Title = Model.Post_Title;
    ViewBag.DESC = Model.Meta_Desc;
    ViewBag.Keyword = Model.Meta_Key;
}


<section class="page-title-section white-arrow">
    <div class="container">
        <div class="page-header">
            <h1>@Model.Post_Title</h1>
        </div>
        <div class="breadcrumb-mb">
            <span>
                <a href="/Home/Index" style="color:#fff;">Trang chủ </a>
                &nbsp;
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                &nbsp;
                <a href="/Product/product?id=@Session["id"]" style="color:#fff;">Product</a>
                &nbsp;
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                &nbsp;
                @Model.Post_Title
            </span>
        </div>
    </div>
</section>
<div class="container breadcrumb">
    <span>
        <a href="/Home/Index">
            Trang chủ
        </a>
        &nbsp;
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        &nbsp;
        <a href="/Product/product?id=@Session["id"]">Product</a>
        &nbsp;
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        &nbsp;
        @Model.Post_Title
    </span>
</div>
<section class="details-product-wrap section-padding" ng-controller="ProductCtrl">
    @Html.Partial("~/Views/Product/popupUserInfor.cshtml")
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="img-thumb col-sm-12">
                    <img class="img-responsive col-sm-12" id="img-content" style="width: 457px;height: 567px;" src="~/Media/images/images (2).jpg"  alt="Căn hộ neraland">

                    <div class="col-sm-12 slide-img-product">

                        @*<div class="wrapper-img" style="cursor:pointer">
                                <img src="~/Media/images/counterbg3.png" class="img-thumbnail" alt="">
                                <div class="arrow arrow-left">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </div>
                            </div>*@
                        @*<div class="arrow arrow-left">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>*@
                        @{
                            if (ViewBag.listImg == null)
                            {

                            }
                            else
                            {
                                foreach (var i in ViewBag.listImg)
                                {
                                    <div class="wrapper-img" style="cursor:pointer">

                                        <img src="@i.Image_Url" class="img-thumbnail" alt="">

                                    </div>
                                }
                            }
                        }

                        @*<div class="arrow arrow-right">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>*@

                        @*<div class="wrapper-img" style="cursor:pointer">
                                <img src="~/Media/images/about-thumb.jpg" class="img-thumbnail" alt="">
                                <div class="arrow arrow-right">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div><!-- /.col -->

            <div class="col-sm-7 infor-details-pro">
                <div>

                    <div>
                        <span>Mã sản phẩm :</span>
                        #@Model.Post_Id
                    </div>
                    <div>
                        <h2>
                            <span>Tên sản phẩm :</span>
                            @Model.Post_Title
                        </h2>

                    </div>

                    <div>
                        <span style="font-size: 20px;">
                            @Model.Gia vnd
                        </span>
                    </div>
                    <div style="margin-bottom: 5px;">
                        <span>
                            Đánh giá
                        </span>
                    </div>
                    <div>
                        <h4>
                            <span>Mô tả:</span>
                            @Model.Meta_Desc
                        </h4>
                    </div>
                </div>
                <div class="state-detail-product">
                    <button type="button" class="btn btn-show-popup">
                        Đăng ký thuê nhà
                    </button>
                </div>

            </div>

        </div><!--/.details-product-wrap-content  -->

    </div><!--/.col-->

</section>

@section JavaScript{
    <script src="~/Scripts/Controller/Product/product.js"></script>
}
<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/jquery/dialog.js"></script>
<script>
    var images = $(".wrapper-img").find('img').map(function () {
        return $(this).attr('src')
    }).get();

    var wrapperImg = $('.wrapper-img');
    var imgSlide = wrapperImg.find('img');

    imgSlide.click(function () {
        var src = $(this).attr('src');
        $('#img-content').attr('src', src);
    });


    if ($(".wrapper-img").eq(1)) {
        var getsrcSlideCenter = $(".wrapper-img").eq(1).find('img').attr('src');
        $('#img-content').attr('src', getsrcSlideCenter);
    }

</script>



