
@model IEnumerable<NERA_WEB_APP.Models.CS_Post_Info>

@{
    ViewBag.Title = "Sản phẩm";
   
}

@section jsFooter{
    @*<script src="~/Scripts/editor/editor.js"></script>*@
}


<!--  FILTER -->
@{

    var userName = HttpContext.Current.User.Identity.Name;

}
<section class="page-title-section white-arrow">
    <div class="container">
        <div class="page-header">
            <h1>@ViewBag.MenuName</h1>
        </div>
        <div class="breadcrumb-mb">
            <span>
                <a href="/Home/Index" style="color:#fff;">Trang chủ </a>
                &nbsp;
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                &nbsp;
                @ViewBag.Title
            </span>
        </div>
    </div>
</section>
<section class="sortby-wrapper breadcrumb-wrapper">
    <div class="breadcrumb-wrapper">
        <span>
            <a href="/Home/Index">Trang chủ </a>
            &nbsp;
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            &nbsp;
            @ViewBag.Title
        </span>
    </div>
    <div class="sort-by-wrapper">
        <select name="" id="">
            <option value="">Sort by</option>
            <option value="">Loại phòng</option>
            <option value="">Khu vực</option>
            <option value="">Số phòng</option>
            <option value="">Diện tích</option>
            <option value="">Giá</option>
        </select>
    </div>

</section>
<!--  MAIN -->
<section id="main-product" ng-controller="ProductCtrl">


    @Html.Partial("~/Views/Product/popupProduct.cshtml")

    <fieldset>
        <legend style="position:relative;">
            <span style="text-align:left;">
                <h3>
                    Sản phẩm
                </h3>
            </span>

            @if (!String.IsNullOrEmpty(userName))
            {
                <span style="text-align:right; position:absolute; right:0; bottom:0;">
                    <h4>
                        <a href="#" class="btn-show-popup btn-add-pro">Thêm mới</a>
                    </h4>
                </span>
            }

        </legend>
    </fieldset>
    @* <div class="details-product product" dir-paginate='i in ItemSP | itemsPerPage:5'>*@


    @foreach (var i in Model)
    {
        <div class="details-product product">
            <div class="img-product-wrapper">
                <img src="~/Media/images/furniture.jpg" />
            </div>
            <div class="infor-product-wrapper">
                <div class="inror-product">

                    <div>
                        <div>
                            <span>Mã sản phẩm :</span>
                           
                            @i.Post_Id

                        </div>

                    </div>


                    <div>
                        <h2>
                            <span>Tên sản phẩm :</span>
                          
                            @i.Post_Title
                        </h2>
                    </div>
                    <div>
                        <h4>
                            <span>Mô tả:</span>
                           
                            @i.Meta_Desc
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span>Đơn giá:</span>
                          
                            @i.Gia
                        </h4>
                    </div>

                    <div class="action-product">
                        <div>
                            <a class="btn" href="/Product/details?id=@i.Post_Id">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="state-product">

                    <span>
                        Trạng thái: Đã thuê
                    </span>
                </div>


            </div>

        </div>
    }



    <div class="container" style="max-width:500px;">
        <div class="alert alert-delete-success" style="text-align:center; background:#13cb71;display:none; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);">
            <h3 style="color:#fff;">
                Xóa thành công
            </h3>
        </div>
    </div>
    @*<dir-pagination-controls boundary-links="true"></dir-pagination-controls>*@


</section>


<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/jquery/dialog.js"></script>
@section JavaScript{

    <script src="~/Scripts/Controller/Product/product.js"></script>
}
