@model NERA_WEB_APP.Models.LoginViewModel
@{
    ViewBag.Title = "LogOn";
}

<h2>LogOn</h2>
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
{ 
<fieldset>
    <legend>Account Information</legend>

    <div class="editor-label">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="editor-label">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </div>

    <p>
        <input type="submit" value="Log On" />
    </p>
</fieldset>
}
