@model NERA_WEB_APP.Models.CS_Post_Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CS_Post_Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta_Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta_Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Post_Id = Model.Post_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
