@model NERA_WEB_APP.Models.PostDetailViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewBag.Title = Model.Post_Title;
}
@section jsFooter{
    <script>
        $(document).ready(function () {

            var editor = CKEDITOR.replace('Post_Content',
                {

                    customConfig: '/Scripts/Controller/BaiViet/ckeditor/config.js',
                    cloudServices_tokenUrl: '/Scripts/Controller/BaiViet/ckeditor/config.js',
                }, {

                    htmlEncodeOutput: true

                },
            );
            CKFinder.setupCKEditor(CKEDITOR.instances['Item_Content'], '~/Scripts/Controller/BaiViet/ckfinder/')
        })
    </script>
}


    <div class="container">
        <fieldset>
            <legend style="position:relative;">
                <span style="text-align:left;">
                    <h3 class="title-page">
                        Sửa bài viết
                    </h3>
                </span>


            </legend>
        </fieldset>
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal container" style="max-width:1000px;">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Post_Id)
            <div class="form-group col-md-12" style="margin-left:0; margin-right:0;">
                <div class="col-md-12">
                    <label style="font-size:18px;">Tiêu đề bài viết</label>
                </div>

                <div class="col-md-12">
                    @Html.EditorFor(model => model.Post_Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Post_Title, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group" style="margin-left:0; margin-right:0;">
                <div class="col-md-6">
                    <div class="col-md-12">
                        @Html.Label("Miêu tả", htmlAttributes: new { @class = "", @style = "font-size:18px;" })
                    </div>

                    <div class="col-md-12">
                        @*@Html.EditorFor(model => model.Meta_Desc, new { htmlAttributes = new { @class = "form-control" } })*@
                        <textarea rows="3" class="form-control" name="MetaDesc" style="width:100%;">@Model.Meta_Desc</textarea>
                        @Html.ValidationMessageFor(model => model.Meta_Desc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="hidden" value="new1" id="count_img" />

                <div class="col-md-6">
                    <div class="col-md-12">
                        @Html.Label("Từ khóa", htmlAttributes: new { @class = "", @style = "font-size:18px;" })
                    </div>

                    <div class="col-md-12">
                        @*@Html.EditorFor(model => model.Meta_Key, new { htmlAttributes = new { @class = "form-control" } })*@
                        <textarea rows="3" class="form-control" name="MetaKey" style="width:100%;">@Model.Meta_Key</textarea>
                        @Html.ValidationMessageFor(model => model.Meta_Key, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-left:0; margin-right:0;">
                <div class="col-md-3">
                    <div style="padding-left:20px; margin-bottom:10px;">
                        <label style="font-size:18px;">Enable</label>

                        @Html.EditorFor(model => model.Enable)
                        @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })
                    </div>
                    <div style="padding-left:20px;">
                        <label style="font-size:18px;">Đã thuê</label>

                        @Html.EditorFor(model => model.Dathue)
                        @Html.ValidationMessageFor(model => model.Dathue, "", new { @class = "text-danger" })


                    </div>

                </div>
                <div class="col-md-3">
                    <div class=" col-md-12">
                        <label style="font-size:18px;">Ngôn ngữ</label>
                    </div>
                    <div class="col-md-12">
                        <select class="form-control" name="Language" style="width:150px;">
                            <option value="">Chọn ngôn ngữ</option>
                            @if (Model.Language == "VI")
                        {
                            <option value="@Model.Language" selected>Việt nam</option>
                            <option value="EN">English</option>
                    }
                    else if (Model.Language == "EN")
                    {
                        <option value="VI">Việt nam</option>
                        <option value="@Model.Language" selected>English</option>

                }
                else
                {
                    <option value="VI">Việt nam</option>
                    <option value="EN">English</option>
            }
                        </select>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label style="font-size:18px;">Item Id</label>
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownList("Item_Id", new SelectList(ViewBag.CBXMenuItem, "Item_Id", "Item_Name"), new { @class = "form-control", @style = "width:150px" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label style="font-size:18px;">Đơn giá</label>
                    </div>

                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label style="font-size:18px;">Nội dung bài viết</label>
                </div>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Post_Content, new { htmlAttributes = new { @class = "form-control", @id = "Post_Content" } })
                    @Html.ValidationMessageFor(model => model.Post_Content, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group" style="margin-left:0; margin-right:0;" id="BoxAnh">
                <div class="col-md-12" style="margin-bottom:10px;">
                    <input type="button" style="border-radius:5px; " class="btn btn-info col-sm-2 prevented" id="btnselect" onclick="chonAnh()" value="Chọn ảnh" />
                </div>
                @foreach (var slide in Model.Slides)
            {
                string ids = "div" + slide.Tbl_Id, idp = "txtPost_content" + slide.Tbl_Id;
                <div id="@ids" float:left; margin-right:2px;margin-left: 15px;">

                    <input type="hidden" name="slides" class="col-sm-8" id="@idp" value="@slide.Image_Link" />
                    <a href="#" onclick="removeSlide(@ids)">
                        <img id="@slide.Tbl_Id" width="100" alt="@slide.Image_Title" height="100" src="@slide.Image_Link" />
                    </a>
                </div>
        }

            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
            <div>
                <h4>
                    @Html.ActionLink("Quay lại", "Index", new { id = Session["id"] })
                </h4>

            </div>
        </div>
}


        <script>
            function removeSlide(id) {
                //var elem = document.getElementById(id);
                id.parentNode.removeChild(id);
            }
            function chonAnh() {
                var finder = new CKFinder();
                var id = $('#count_img').val();
                finder.selectActionFunction = function (url) {
                    var str = $("#BoxAnh").html()
                    str += '<div id="div' + id + '" style="width:100px; height:100px; float:left; margin-right:2px;">';
                    str += '<input type="hidden" name="slides" class="col-sm-8" id="txtPost_content' + id + '" />'
                    str += '<a href="#" onclick="removeSlide(div' + id + ')" > ';
                    str += '<img id="anh' + id + '" width="100" height="100"/> ';
                    str += '</a> ';
                    str += '</div>';
                    $('#BoxAnh').html(str);
                    $('#txtPost_content' + id).val(url);
                    $('#anh' + id).attr("src", url);
                    id = id + 1;
                    $('#count_img').val(id);

                };
                finder.popup();
            }
        </script>

