@model IEnumerable<NERA_WEB_APP.Models.CS_Post_Info>

@{
    ViewBag.Title = "Index";
}

@section jsFooter{
    <script>
        $(document).ready(function () {
            $('#btnselect').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();

                finder.selectActionFunction = function (url) {
                    $('#txtPost_content').val(url);
                };
                finder.popup();

            })
            var editor = CKEDITOR.replace('Post_Content',
                {
                    customConfig: '/Scripts/Controller/BaiViet/ckeditor/ckeditor.js',
                    cloudServices_tokenUrl: '/Scripts/Controller/BaiViet/ckeditor/config.js',
                }, {
                    htmlEncodeOutput: true
                });




        })


    </script>
}

<section class="container">
    <fieldset>
        <legend style="position:relative;">
            <span style="text-align:left;">
                <h3>
                    Bài Viết!!!
                </h3>
            </span>


        </legend>
    </fieldset>
    <div>
        <table class="table">
            <tr>
                <th>
                    Tiêu đề bài viết
                </th>
                <th>
                    Miêu tả
                </th>
                <th>
                    Từ khóa
                </th>
                <th>Giá </th>
                <th>Đã Thuê</th>
                <th>Chức năng</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Post_Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Meta_Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Meta_Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dathue)
                    </td>

                    <td>
                       
                        @Html.ActionLink("Chi tiết", "Details", new { Post_Id = item.Post_Id }) 
                        
                    </td>
                </tr>
            }



        </table>
    </div>
    @* pagination  *@
    <div class="pagination-wrapper-page" style="height:50px; width:100%;">
        <div class="pagination-wrapper">
            <ul class="pager">
                <li class="page-item"><a class="page-item-link" href="#" ng-click="onStart()"><<</a></li>
                <li class="page-item"><a class="page-item-link" href="#" ng-click="onPrevious()"><</a></li>
                <li class="page-item">
                    <ul class="pagination" ng-repeat="item in Paging">
                        <li class="page-item" ng-class="item.disable"><a class="page-link" href="#" ng-click="onPage(item.pageIndex)">{{item.pageIndex + 1}}</a></li>
                    </ul>
                </li>


                <li class="page-item"><a class="page-item-link" href="#" ng-click="onNext()">></a></li>
                <li class="page-item"><a class="page-item-link" href="#" ng-click="onEnd()">>></a></li>
            </ul>
        </div>
    </div>

</section>
@Html.Partial("~/Views/BaiVietMVC/popupBaiviet.cshtml")
<script src="~/Scripts/jquery/dialog.js"></script>

<script>
    $(function ($scope) {
        $scope.totalRows = 101;
        $scope.pageSize = 20;
        $scope.pageIndex = 0;
        $scope.Paging = [];
        var filter1 = null;
        var order1 = 'NAME';
        var desc1 = true;

        var numOfPages = Math.ceil($scope.totalRows / $scope.pageSize);
        setPageIndex(0);
        $scope.onStart = function () {
            setPageIndex(0);
        };
        $scope.onNext = function () {
            setPageIndex($scope.pageIndex + 1);
        }
        $scope.onPrevious = function () {
            setPageIndex($scope.pageIndex - 1);
        }
        $scope.onEnd = function () {
            setPageIndex(numOfPages - 1);
        }
        $scope.onPage = function (id) {
            setPageIndex(id);
        }
        function setPageIndex(i) {
            $scope.pageIndex = i;
            numOfPages = Math.ceil($scope.totalRows / $scope.pageSize);
            startPaging();
            $scope.Paging[$scope.pageIndex]['disable'] = 'disabled';
        }
        function startPaging() {
            $scope.Paging = [];
            for (i = 0; i < numOfPages; i++) {
                var item = {};
                item['pageIndex'] = i;
                item['disable'] = '';
                $scope.Paging.push(item);
            }
        }
        //#endregion Paging

        //#region filter
    });

</script>
