@model IEnumerable<NERA_WEB_APP.Models.CS_Post_Info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta_Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta_Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Post_Id }) |
            <a href="/BaiVietMVC/delete?Post_Id=@item.Post_Id">xoa</a>
        </td>
    </tr>
}

</table
